@model IEnumerable<Modelos.Animal.Pet>

@{
    Layout =  "~/Views/Shared/Layout.cshtml";
    ViewBag.Title = "LISTAGEM DE PETS";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <button type="button" class="btn btn-outline-info">
        @Html.ActionLink("Adicionar Pet", "Create")
    </button>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Idade)
            </th>
            <th>
                Espécie
            </th>
            <th>
                Dono - CPF
            </th>
            @* <th>
                Dono
            </th> *@
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Idade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Especie.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClienteId)
            </td>
            @* <td>
                @Html.DisplayFor(modelItem => item.Cliente.Nome)
            </td> *@
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.PetId }) |
                @Html.ActionLink("Details", "Details", new { id=item.PetId }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.PetId })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
