@model Modelos.Procedimentos.Consulta

@{
    Layout =  "~/Views/Shared/Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>Consulta</h4>
        <hr />
        <dl>
            <dt>
                @Html.DisplayNameFor(model => model.Sintomas)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Sintomas)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ConsultaData)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ConsultaData)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.VeterinarioId)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.VeterinarioId)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ClienteId)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ClienteId)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PetId)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.PetId)
            </dd>
        </dl>
    </div>
    <p>
        @Html.ActionLink("Editar", "Edit", new { id = Model.ConsultaId }) |
        @Html.ActionLink("Voltar à Lista", "Index")
    </p>
</body>
</html>
