@model IEnumerable<Modelos.Procedimentos.Exame>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    @Html.ActionLink("Consultas", "Index", "Consultas")
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ExameId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                Data da Consulta
            </th>

            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ExameId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Consulta.ConsultaData)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.ExameId }) |
                @Html.ActionLink("Details", "Details", new { id=item.ExameId }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.ExameId })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
