@model Modelos.Procedimentos.Exame

@{
    Layout =  "~/Views/Shared/Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>
    <h3>Tem certeza que deseja excluir este item?</h3>
    <div>
        <h4>Exame</h4>
        <hr />
        <dl>
            <dt>
                @Html.DisplayNameFor(model => model.Consulta.Sintomas)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Consulta.Sintomas)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Nome)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Nome)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.VeterinarioId)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.VeterinarioId)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PetId)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Pet.Nome)
            </dd>
    
        </dl>
    
        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()
    
            <div>
                <input type="submit" value="Excluir" class="btn btn-danger"/> |
                @Html.ActionLink("Voltar à Lista", "Index")
            </div>
        }
    </div>
</body>
</html>
