@model IEnumerable<Modelos.Procedimentos.Exame>

@{
    Layout =  "~/Views/Shared/Layout.cshtml";
    ViewBag.Title = "LISTAGEM DE EXAMES";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <button type="button" class="btn btn-outline-primary">
        @Html.ActionLink("Adicionar Exame", "Create")
    </button>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                Data da Consulta
            </th>
            <th>
                CRMV - Veterinário
            </th>
            <th>
                Pet
            </th>

            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Consulta.ConsultaData)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VeterinarioId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pet.Nome)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id=item.ExameId }) |
                @Html.ActionLink("Detalhes", "Details", new { id=item.ExameId }) |
                @Html.ActionLink("Excluir", "Delete", new { id=item.ExameId })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
